<a href="https://colab.research.google.com/github/antonellavg/IIS-/blob/main/IIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ejercicio numero 4

In [ ]:
#4
edadjuan=9
edadalber=(2/3)*edadjuan
edadana=(4/3)*edadjuan
edadmamá=edadjuan+edadalber+edadana
print("edad de juan", edadjuan)
print("edad de alber", edadalber)
print("edad de ana", edadana)
print("edad mamá", edadmamá)

edad de juan 9
edad de alber 6.0
edad de ana 12.0
edad mamá 27.0

Ejercicio numero 5

In [3]:
#5

Suma = 0
X = 20
Suma = Suma + X
Y = 40
X = X + Y ** 2
Suma = Suma + X / Y
print("El valor de suma es:", Suma)

El valor de suma es: 60.5

Ejercicio Numero 12

In [2]:
#12
hrstrabajadas=48
valor_hora=5000
salario_bruto=hrstrabajadas*valor_hora
retencion=salario_bruto*0.125
salario_neto=salario_bruto-retencion
print("Salario bruto:", salario_bruto)
print("Retención:", retencion)
print("Salario neto:", salario_neto)

Salario bruto: 240000
Retención: 30000.0
Salario neto: 210000.0

Ejercicio numero 14

In [3]:
#14
numero=float(input("Ingrese un numero: "))
cuadrado=numero**2
cubo=numero**3
print("El cuadrado del numero es:", cuadrado)
print("El cubo del numero es:", cubo)

Ingrese un numero: 4
El cuadrado del numero es: 16.0
El cubo del numero es: 64.0

Ejercicio numero 17

In [4]:
#17
radio=float(input("Ingrese el radio:"))
area=3.1416*radio**2
longitud=2*3.1416*radio
print("El area es:", area)
print("La longitud es:", longitud)

Ingrese el radio:8
El area es: 201.0624
La longitud es: 50.2656